<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="AOA.Common.Utility">
            <section name="ConnectionConfig" type="AOA.Common.Utility.CustomConfig.ConnectionSection, AOA.Common.Utility"/>
        </sectionGroup>
    </configSections>

    <AOA.Common.Utility>
        <ConnectionConfig>
            <connections>
                <add connName="aa" encryptType ="0" connString="aa1" readString="aa2" writeString="aa3" />
                <add connName="ab" encryptType ="1" connString="WhWoUjef2iQ=" readString="RsN6abZcHVg=" writeString="pnNuqTAYcJg=" />
                <add connName="ac" encryptType ="2" connString="9B0119299D830EA7" readString="0DE4F6EF56B38F64" writeString="B16183ACE84D5A79" />
            </connections>
        </ConnectionConfig>
    </AOA.Common.Utility>
</configuration>