<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>

        <sectionGroup name="enyim.com">
            <section name="log" type="Enyim.Caching.Configuration.LoggerSection, Enyim.Caching" />
            <section name="memcached" type="Enyim.Caching.Configuration.MemcachedClientSection, Enyim.Caching" />
        </sectionGroup>
        <section name="membase" type="Membase.Configuration.MembaseClientSection, Membase" />

        <section name="ConnectionConfig" type="AOA.Common.Utility.CustomConfig.ConnectionSection, AOA.Common.Utility" />
    </configSections>

    <enyim.com>
        <log factory="Enyim.Caching.NLogFactory, Enyim.Caching.NLogAdapter" />
        <memcached protocol="Binary">
            <servers>
                <!--<add address="192.168.19.63" port="11211" />-->
                <add address="127.0.0.1" port="11211" />
            </servers>
            <socketPool minPoolSize="10" maxPoolSize="400" connectionTimeout="00:00:05" deadTimeout="00:00:10" />
        </memcached>
    </enyim.com>

    <membase>
        <servers bucket="NewBucket" bucketPassword="12345678">
            <add uri="http://localhost:8091/pools/default" />
        </servers>
        <socketPool minPoolSize="10" maxPoolSize="20" connectionTimeout="00:00:02" receiveTimeout="00:00:02" queueTimeout="00:00:02" deadTimeout="00:00:10" />
    </membase>

    <ConnectionConfig>
        <connections>
            <add connName="aa" encryptType="0" connString="aa1" readString="aa2" writeString="aa3" />
            <add connName="ab" encryptType="1" connString="WhWoUjef2iQ=" readString="RsN6abZcHVg=" writeString="pnNuqTAYcJg=" />
            <add connName="ac" encryptType="2" connString="9B0119299D830EA7" readString="0DE4F6EF56B38F64" writeString="B16183ACE84D5A79" />
        </connections>
    </ConnectionConfig>

    <appSettings>
        <!--Http请求超时时间-->
        <add key="HttpRequestTimeOut" value="5000" />
    </appSettings>

    <system.net>
        <settings>
            <httpWebRequest useUnsafeHeaderParsing="true" />
        </settings>
    </system.net>

    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <runtime>
        <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
            <dependentAssembly>
                <assemblyIdentity name="NLog" publicKeyToken="5120e14c03d0593c" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-3.2.0.0" newVersion="3.2.0.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="System.Runtime.InteropServices.RuntimeInformation" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="System.Numerics.Vectors" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-4.1.4.0" newVersion="4.1.4.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-4.0.4.1" newVersion="4.0.4.1" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="Microsoft.Extensions.Primitives" publicKeyToken="adb9793829ddae60" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-2.1.6.0" newVersion="2.1.6.0" />
            </dependentAssembly>
        </assemblyBinding>
    </runtime>

    <connectionStrings>
        <!-- See http://www.mongodb.org/display/DOCS/CSharp+Driver+Tutorial#CSharpDriverTutorial-Connectionstrings for more info -->
        <add name="MongoServerSettings" connectionString="mongodb://localhost/MyDatabase" />
    </connectionStrings>
</configuration>
