<?xml version="1.0" encoding="utf-8" ?>
<CacheConfig
    Version="1"
    UseInternalCache="True"
    UseExternalCache="True"
    UseFileCache="False"
    DebugLog="True"
    Providers="SystemRuntime,Redis"
    >

    <ProviderList>
        <Provider
            Name="HttpRuntime"
            ClassType="AOA.Common.CacheManager.Provider.HttpRuntimeCacheProvider, AOA.Common.CacheManager"
            Timeout="3600"
            ExpirationType="TimeSpan"
            />
        <Provider
            Name="SystemRuntime"
            ClassType="AOA.Common.CacheManager.Provider.SystemRuntimeCacheProvider, AOA.Common.CacheManager"
            Timeout="3600"
            ExpirationType="TimeSpan"
            />
        <Provider
            Name="MemCached"
            ClassType="AOA.Common.CacheManager.Provider.MemCachedProvider, AOA.Common.CacheManager.Provider.MemCached"
            Timeout="86400"
            ExpirationType="TimeSpan"
            />
        <Provider
            Name="Mongo"
            ClassType="AOA.Common.CacheManager.Provider.MongoProvider, AOA.Common.CacheManager.Provider.Mongo"
            Timeout="86400"
            ExpirationType="TimeSpan"
            />
        <Provider
            Name="Redis"
            ClassType="AOA.Common.CacheManager.Provider.RedisProvider, AOA.Common.CacheManager.Provider.Redis"
            Timeout="86400"
            ExpirationType="TimeSpan"
            ExtConfig="ReadWriteHosts=127.0.0.1:6379|ReadOnlyHosts=127.0.0.1:6379|MaxWritePoolSize=50|MaxReadPoolSize=50"
            />
    </ProviderList>

    <CacheCatalogList>

        <!--
        ExpirationType:
            TimeSpan = 时延，从当前时间起，每次访问后顺延;
            Fixed = 固定时间点超时; 部分缓存类型没有该功能，由缓存自身特点决定。
            此设置仅对内部缓存类型有效
        -->

        <!--默认分类，key使用 /default/[Name]/[Key]格式-->
        <CacheCatalog
            Name="Default"
            KeyPath="/default"
            Providers="SystemRuntime"
            Timeouts="600"
            />

        <CacheCatalog
            Name="NoneCache"
            KeyPath="/None"
            Providers="None"
            Timeouts=""
            />

        <CacheCatalog
            Name="InternalCache"
            KeyPath="/Internal"
            Providers="SystemRuntime"
            Timeouts="600"
            />

        <CacheCatalog
            Name="ExternalCache"
            KeyPath="/External"
            Providers="Redis"
            Timeouts="86400"
             />

        <CacheCatalog
            Name="External30"
            KeyPath="/External30"
            Providers="Redis"
            Timeouts="30"
            />

        <CacheCatalog
            Name="InternalAndExternalCache"
            KeyPath="/InternalAndExternal"
            Providers="HttpRuntime,Redis"
            Timeouts="600,86400"
            />

    </CacheCatalogList>

</CacheConfig>
