<?xml version="1.0" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.netfx35.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" autoReload="true" throwExceptions="true" internalLogFile="logs\NLog.txt" internalLogLevel="Debug">

    <variable name="LogDirectory" value="logs"/>

    <targets>

        <target name="CommonLog" xsi:type="File"
                layout="-- ${longdate} --${newline}${message}"
                fileName="${LogDirectory}\${date:format=yyyy/MM/dd}\${event-context:SubDir}\${date:format=HH}_${level}_${event-context:EventPrefix}.txt" />

        <target name="CallLog" xsi:type="File"
                fileName="${LogDirectory}\${date:format=yyyy/MM/dd}\CallLog\${event-context:Action}\${date:format=HH}_${level}.txt">
            <layout xsi:type="CsvLayout">
                <column name="Begin" layout="${event-context:CallBegin}" />
                <column name="End" layout="${event-context:CallEnd}"/>
                <column name="Elapsed" layout="${event-context:Elapsed}"/>
                <column name="Act" layout="${event-context:Action}" />
                <column name="Product" layout="${event-context:ProductId}" />
                <column name="CallSource" layout="${event-context:CallSource}"/>
                <column name="Session" layout="${event-context:SessionId}"/>
                <column name="State" layout="${event-context:SessionState}"/>
                <column name="Uin" layout="${event-context:UserId}"/>
                <column name="User" layout="${event-context:UserName}"/>
                <column name="Result" layout="${event-context:ResultCode}"/>
                <column name="Message" layout="${message}"/>
            </layout>
        </target>

        <target name="LazyCallLog" xsi:type="File"
                fileName="${LogDirectory}\${date:format=yyyy/MM/dd}\LazyCallLog\${event-context:Action}_${level}.txt">
            <layout xsi:type="CsvLayout">
                <column name="Begin" layout="${event-context:CallBegin}" />
                <column name="End" layout="${event-context:CallEnd}"/>
                <column name="Elapsed" layout="${event-context:Elapsed}"/>
                <column name="Act" layout="${event-context:Action}" />
                <column name="Product" layout="${event-context:ProductId}" />
                <column name="CallSource" layout="${event-context:CallSource}"/>
                <column name="Session" layout="${event-context:SessionId}"/>
                <column name="State" layout="${event-context:SessionState}"/>
                <column name="Uin" layout="${event-context:UserId}"/>
                <column name="User" layout="${event-context:UserName}"/>
                <column name="Result" layout="${event-context:ResultCode}"/>
                <column name="Message" layout="${message}"/>
            </layout>
        </target>

        <target name="AllExceptionLog" xsi:type="File"
                fileName="${LogDirectory}\${date:format=yyyy/MM/dd}\Exception\${logger}_${event-context:EventPrefix}.txt">
            <layout xsi:type="CsvLayout">
                <column name="Time" layout="${longdate}"/>
                <column name="SubDir" layout="${event-context:SubDir}"/>
                <column name="Message" layout="${message}"/>
            </layout>
        </target>

        <target name="EnyimCaching" xsi:type="File" layout="${longdate}: ${message}"
                fileName="${LogDirectory}\${date:format=yyyy/MM/dd}\EnyimCaching\${level}.txt"/>

        <target name="General" xsi:type="File" layout="${longdate}|${message}"
                fileName="${LogDirectory}\${date:format=yyyy/MM/dd}\General\${logger}\${date:format=HH}_${level}.txt"/>

        <target name="ImsiImeiLog" xsi:type="File" layout="${message}"
                fileName="${LogDirectory}\${date:format=yyyy/MM/dd}\${event-context:EventPrefix}\log.txt" />

    </targets>

    <rules>
        <!-- minlevel 级别从低到高依次为: Trace, Debug, Info, Warn, Error, Fatal, Off -->

        <logger name="InfoLog" minlevel="Debug" writeTo="CommonLog" >
        </logger>
        <logger name="DebugLog" minlevel="Debug" writeTo="ImsiImeiLog" >
            <filters>
                <whenNotEqual layout="${event-context:EventPrefix}" compareTo="ImsiImei" action="Ignore" ignoreCase="true"/>
                <whenEqual layout="${event-context:EventPrefix}" compareTo="ImsiImei" action="LogFinal" ignoreCase="true"/>
            </filters>
        </logger>
        <logger name="DebugLog" minlevel="Debug" writeTo="CommonLog" >
            <filters>
                <whenEqual layout="${event-context:SubDir}" compareTo="ImsiImei" action="Ignore" ignoreCase="true"/>
            </filters>
        </logger>
        <logger name="ExceptionLog" minlevel="Debug" writeTo="CommonLog" >
        </logger>

        <logger name="CallInfoLog" minlevel="Debug" writeTo="CallLog" >
            <filters>
                <!--<whenEqual layout="${event-context:IPAddress}" compareTo="127.0.0.1" action="Ignore" ignoreCase="false"/>-->
            </filters>
        </logger>
        <logger name="CallErrorLog" minlevel="Debug" writeTo="CallLog" >
            <filters>
                <!--<whenEqual layout="${event-context:IPAddress}" compareTo="127.0.0.1" action="Ignore" ignoreCase="false"/>-->
            </filters>
        </logger>

        <logger name="LazyCallInfoLog" minlevel="Debug" writeTo="LazyCallLog" />
        <logger name="LazyCallErrorLog" minlevel="Debug" writeTo="LazyCallLog" />

        <logger name="*" minlevel="Error" writeTo="AllExceptionLog">
        </logger>

        <logger name="*" minlevel="Debug" writeTo="EnyimCaching">
            <filters>
                <!--<whenNotContains layout="${logger}" substring="Enyim.Caching.Memcached" action="Log|Ignore|LogFinal|IgnoreFinal" ignoreCase="false"/>-->
                <whenNotContains layout="${logger}" substring="Enyim.Caching.Memcached" action="Ignore" ignoreCase="false"/>
                <whenContains layout="${logger}" substring="Enyim.Caching.Memcached" action="LogFinal" ignoreCase="false"/>
            </filters>
        </logger>

        <logger name="*" minlevel="Debug" writeTo="General">
            <filters>
                <whenEqual layout="${logger}" compareTo="InfoLog" action="Ignore" ignoreCase="false"/>
                <whenEqual layout="${logger}" compareTo="DebugLog" action="Ignore" ignoreCase="false"/>
                <whenEqual layout="${logger}" compareTo="ExceptionLog" action="Ignore" ignoreCase="false"/>

                <whenEqual layout="${logger}" compareTo="CallInfoLog" action="Ignore" ignoreCase="false"/>
                <whenEqual layout="${logger}" compareTo="CallErrorLog" action="Ignore" ignoreCase="false"/>

                <whenEqual layout="${logger}" compareTo="LazyCallInfoLog" action="Ignore" ignoreCase="false"/>
                <whenEqual layout="${logger}" compareTo="LazyCallErrorLog" action="Ignore" ignoreCase="false"/>

                <whenContains layout="${logger}" substring="Enyim.Caching.Memcached" action="Ignore" ignoreCase="false"/>

                <!--<whenNotContains layout="${logger}" substring="Enyim.Caching.Memcached" action="LogFinal" ignoreCase="false"/>-->
            </filters>
        </logger>

    </rules>
</nlog>
